@model IEnumerable<IMS.Models.Entity.UnitInfo>
@{
    ViewData["Title"] = "Index";
}

<!-- Add CSS style to make the background grey -->
<style>
    body {
        background-color: #F5F0FF;
    }
</style>


<div class="row col-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(p => p.UnitName) </th>
                <th> @Html.DisplayNameFor(p => p.IsActive) </th>
                <th> Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model)
            {
                <tr>
                    <td> @items.UnitName </td>
                    <td> @items.IsActive </td>

                    <td>
                        <a class="btn btn-primary " asp-action="AddEdit" asp-route-id="@items.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" onclick="return confirm('Are You Sure About That!!!')" asp-route-id="@items.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-start" asp-action="AddEdit">AddNew</a>
    </div>

</div>
